@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-datatable .p-datatable-wrapper {
  max-height: none !important;
  z-index: 0;
}

.custom-datatable .p-datatable-header {
  padding-left: 0;
  padding-right: 0;
}

.p-dialog-title {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;
  /* 1.74375rem */
  letter-spacing: 0.00169rem;
}

.custom-datatable thead tr,
.custom-datatable tbody tr {
  font-size: 0.875rem !important;
}

.custom-datatable .p-column-title {
  font-weight: 500 !important;
}

.custom-datatable tbody td {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
